@import-normalize;

$warning-color: #faad14;
$warning-color-hover: #ffc53d;
$warning-color-active: #d48806;
$warning-color-outline: rgba(250, 173, 20, 0.2);
$warning-color-deprecated-bg: #fffbe6;
$warning-color-deprecated-border: #ffe58f;

$black: #333333;
